
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
.Dashboard_main_div{
    display: flex;
}

.Dashboard_side_bar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    transition-duration: 1s;
}

.Dashboard_btn_div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 10px;
}

.Sidebar_heading{
    font-family: 'JetBrains Mono', monospace;
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 100% */
}

.Dashboard_sidebar_ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.Dashboard_sidebar_li{
    padding-block: 10px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: grey;
}

.Dashboard_sidebar_li_active{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding-block: 10px;
    padding-inline: 30px;
    color: black;
}

.Sidebar_Logout_Div{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    padding-inline: 30px;
    cursor: pointer;
    gap: 10px;
}

.Logout_Txt{
margin: 0px;
color: #909497;
font-family: 'JetBrains Mono', monospace;font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Right_Lower_div{
    background-color: 'red';
}

.Dashboard_sidebar_li_active>p{
    margin: 0px;

}

.Dashboard_sidebar_li>i{
    width: max-content;
    transition-duration: 1s;
}

.Dashboard_sidebar_li_active>svg{
    transition-duration: 1s;
}

.Dashboard_sidebar_li>p{
    margin: 0px;
}


.Sidebar_btn{
    aspect-ratio: 1/1;
    width: max-content;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
}


.Dashboard_right_div{
    width: 100%;
    background-color: #ECF0F1;
}

.Right_upper_div{
    height: 25% ;
    background-color: #BDC3C7;
}

.Right_upper_div_sec1{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.Right_upper_div_user{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 53px;
}

.UserName{
    color: #566573;
font-family: 'JetBrains Mono', monospace;
font-size: 18px;
font-style: normal;
font-weight: 700;
margin: 0px;
}


@media only screen and (max-width:600px) {
    .Dashboard_sidebar_li{
        padding-block: 10px;
        padding-inline: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        width: 100%;
    }
    
    .Dashboard_sidebar_li_active{
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: white;
        padding-block: 10px;
        padding-inline: 10px;

        width: 100%;
    }
}